/* .appMainPage {
  margin-left: 30px;
  display: flex;
  padding: 10px 15px;
  color: #44596e;
  width: 100%;
  background-color: lightblue;
} */

/* .app-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  transition: margin-left 0.3s;
  padding: 10px;
  max-height: 100vh;
  overflow: scroll;
  scrollbar-width: none;
}  */

.app-container {
  height: 100vh;
  width: 100vw;
  /* overflow: auto; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-section {
  height: 10%;
  background-color: black;
}
.content-section {
  display: flex;
  justify-content: space-between;
  background-color: rgb(220, 59, 19);
  height: 83%;
  padding-right: 3px;
}

.sidebar-div{
  width: 15%;
}
.routes-div{
  overflow: scroll;
  width: 85%;
}


.bottom-section {
  height: 5%;
  background-color: darkblue;
}
