/* .appMainPage {
  margin-left: 30px;
  display: flex;
  padding: 10px 15px;
  color: #44596e;
  width: 100%;
  background-color: lightblue;
} */

/* App.css */
.app-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  transition: margin-left 0.3s;
  padding: 10px;
  max-height: 100vh;
  overflow: scroll;
  scrollbar-width: none;
  /* height: 80%; */
}