<%- include("partials/header.ejs") %>
                
                <!-- Begin Page Content -->
                <div class="container-fluid">


                </div>
                <!-- /.container-fluid -->

<%- include("partials/footer.ejs") %>