.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 60px; /* default width when closed */
  background-color: #333;
  color: #fff;
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.sidebar.open {
  width: 200px; /* width when open */
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 10px;
}
.sidebar-header h1{
  font-size: 20px;
}
.hamburger {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 25px;
}

.sidebar-menu {
  margin-top: 20px;
  width: 100%;
}

.sidebar-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.sidebar-item:hover {
  background-color: #444;
}

.icon {
  font-size: 24px;
  margin-right: 10px;
}

.sidebar-item span {
  display: none;
}

.sidebar.open .sidebar-item span {
  display: inline;
}

.sidebar-header h1{
  display: none;
}

.sidebar.open .sidebar-header h1 {
  display: block;
}