.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 60px;
  padding: 10px;
  /* default width when closed */
  background-color: #0b2a49;
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar.open {
  width: fit-content;
  /* width when open */
}

.sidebar-header {
  display: flex;
  width: 100%;
  transition: background 0.5s, transform 0.5s ease-in-out;
  padding: 10px;
  margin: 0;
}
.sidebar.open .sidebar-header:hover {
  border: 1px solid;
  border-radius: 10px;
  background-color: rgb(24, 86, 149);
}

.sidebar-header span {
  font-size: 25px;
  color: #c5cace;
  opacity: 0;
  color: rgb(0, 152, 228);
  transform: translateX(-10px);
}

.sidebar.open .sidebar-header span {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.8s ease-in-out, transform 0.5s ease-in-out;
}

.hamburger {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  color: #45b4e8;
  font-size: 30px;
  background-color: none;
}


.sidebar-menu {
  margin-top: 20px;
  width: 100%;
}

.sidebar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s ease-in-out;
}

.sidebar-item:hover {
  background-color: #b62626;
}

.icon {
  width: 30px;
  min-width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #45b4e8;
}

.sidebar-text {
  color: #c5cace;
  opacity: 0;
  margin-left: 15px;
  transform: translateX(-20px);
}

.sidebar.open .sidebar-text {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.8s ease-in-out, transform 0.3s ease-in-out;
}
