.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 15px;
  height: 100%;
  width: 60px;
  /* default width when closed */
  background-color: #333;
  color: #fff;
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.sidebar.open {
  width: 200px;
  /* width when open */
}

.sidebar-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
  transition: background 0.5s, transform 0.5s ease-in-out;
}

.sidebar-header span {
  font-size: 25px;
  color: #c5cace;
  opacity: 0;
  transform: translateX(-20px);
}

.sidebar.open .sidebar-header span {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.8s ease-in-out, transform 0.5s ease-in-out;
}

.hamburger {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 35px;
  color: #45b4e8;


}

.sidebar-menu {
  margin-top: 20px;
  width: 100%;
}


.sidebar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s ease-in-out;
}

.sidebar-item:hover {
  background-color: #444;
}

.icon {
  width: 30px;
  min-width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #45b4e8;
}

.sidebar-text {
  color: #c5cace;
  opacity: 0;
  margin-left: 15px;
  transform: translateX(-20px);
}

.sidebar.open .sidebar-text {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.8s ease-in-out, transform 0.3s ease-in-out;

}