

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(199, 208, 218);
  height: 100%;
  width: 100%;
  padding: 3px;
  margin: 0;
  /* default width when closed */
  background-color: none;
  transition: width 0.3s;

  z-index: 999;
  /* width when open */
}


/* start design for item in sidebar */
.sidebar-menu {
  margin-top: 20px;
  width: 100%;
}

.sidebar .sidebar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: display 0.3s ease-in, transform 0.3s ease-in-out;
  transition: background-color 1s ease-out, transform 1s ease-out;
}

.sidebar .sidebar-item:hover {
  background-color: rgb(142, 152, 163);
  transition: background-color 0.1s ease-in, transform 0.1s ease-in-out;
  transform: translateY(-10px);
}

.sidebar .sidebar-item:hover .sidebar-item-text {
  opacity: 1;
  color: #fff;
  transform: translateX(0);
  transition: opacity 0.8s ease-in-out, transform 0.3s ease-in-out;
}

.icon {
  width: clamp(20px, 3vw, 40px);
  min-width: 20px;
  height: clamp(20px, 3vw, 40px);
  line-height: 30px;
  text-align: center;
  display: inline-block;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(69, 180, 232);
}

.sidebar-item-text {
  color: rgb(110, 148, 189);
  opacity: 0;
  margin-left: 15px;
  font-size: 1.3rem;
}

.sidebar .sidebar-item-text {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.8s ease-in-out, transform 0.3s ease-in-out;
}
