.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 60px;
  padding: 3px;
  margin: 0;
  /* default width when closed */
  background-color: rgb(11, 42, 73);
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar.open {
  width: fit-content;
  /* width when open */
}

/* Sidebar header */
.sidebar-header {
  display: flex;
  width: 100%;
  padding: 5px;
  margin: 0;
  border: none;
  transition: background 0.5s, transform 0.5s ease-in-out;
  transition: background-color 2s ease-out, transform 2s ease-out;
}
.sidebar.open .sidebar-header:hover {
  background-color: rgb(43, 114, 185);
  transition: background-color 0.1s ease-in, transform 0.1s ease-in-out;
}

.sidebar-header span {
  font-size: 25px;
  color: #c5cace;
  opacity: 0;
  color: rgb(0, 152, 228);
  transform: translateX(-10px);
  margin-left: 10px;
}

.sidebar.open .sidebar-header span {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.8s ease-in-out, transform 0.5s ease-in-out;
}

button:hover {
  background: none;
}
.hamburger {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  color: #45b4e8;
  font-size: 30px;
  background-color: none;
}

/* start design for item in sidebar */
.sidebar-menu {
  margin-top: 20px;
  width: 100%;
}

.sidebar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s ease-in-out;
  transition: background-color 2s ease-out, transform 2s ease-out;
}

.sidebar.open .sidebar-item:hover {
  background-color: rgb(43, 114, 185);
  transition: background-color 0.1s ease-in, transform 0.1s ease-in-out;
}

.sidebar.open .sidebar-item:hover .sidebar-item-text {
  opacity: 1;
  color: #fff;
  transform: translateX(0);
  transition: opacity 0.8s ease-in-out, transform 0.3s ease-in-out;
}

.icon {
  width: 30px;
  min-width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(69, 180, 232);
}


.sidebar-item-text {
  color: rgb(110, 148, 189);
  opacity: 0;
  margin-left: 15px;
  transform: translateX(-20px);
}

.sidebar.open .sidebar-item-text {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.8s ease-in-out, transform 0.3s ease-in-out;
}
